<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <br>
    <div   class="container -l shadow p-3 mb-5 " style="border:3px #9E9D89 solid;background-color: #F2DAC3;border-radius: 5px;"><h1>Add a New Show</h1>
        <div>
            
            <form action="/shows/new/create" method="POST">
                {% csrf_token %}
                <div >
                    <div class="col">
                        <label for="title"><strong>Title:</strong></label>
                        <input type="text" id="title" name="title" placeholder="Your title..">
                    </div><br>
                    <div class="col">
                        <label for="tv_network"><strong>Network</strong></label>
                        <input type="text" id="tv_network" name="tv_network" placeholder="Your Network..">
                    </div><br>
                    <div class="col">
                        <label for="release_date"><strong>Release Date</strong></label>
                        <input type="date" id="release_date" name="release_date" placeholder="Your release date..">
                    </div><br>
                    <div class="col">
                        <label for="desc"><strong>Description</strong></label>
                        <textarea id="desc" name="desc" placeholder="Write something.."></textarea>
                    </div>
                <br>
                <div class="btn-group">
                    <input type="submit" value="Validar Formulario" class="btn btn-success" >
                    
                </div>
                <div class="btn-group">
                    <a href="/shows" class="btn btn-primary active" ">Atras</a>
                </div>
                </div>
            </form>
        </div>
    
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <p style="color: red;">{{ message }}</p>
                    
                </li>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>